extends layout.pug

block title
  title #{name}

block main
  h1 Vide, quantum, inquam, fallare, Torquate.
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    i Eadem fortitudinis ratio reperietur.
    |  Teneo, inquit, finem illi videri nihil dolere. Facit enim ille duo seiuncta
    |         ultima bonorum, quae ut essent vera, coniungi debuerunt; Quid est enim aliud esse versutum?
  ol
    li Ergo instituto veterum, quo etiam Stoici utuntur, hinc capiamus exordium.
    li
      | Audax negotium, dicerem impudens, nisi hoc institutum postea translatum ad philosophos nostros esset.
    li Tu enim ista lenius, hic Stoicorum more nos vexat.
    li Nihilne est in his rebus, quod dignum libero aut indignum esse ducamus?
  ul
    li Haeret in salebra.
    li Ergo ita: non posse honeste vivi, nisi honeste vivatur?
    li Neque solum ea communia, verum etiam paria esse dixerunt.
    li Isto modo ne improbos quidem, si essent boni viri.
  h4 Quorum sine causa fieri nihil putandum est.
  p
    | Vitiosum est enim in dividendo partem in genere numerare. Quamquam ab iis philosophiam et omnes ingenuas disciplinas
    | habemus; 
    a(href="http://loripsum.net/" target="_blank") Respondeat totidem verbis.
    | 
    i Nam Pyrrho, Aristo, Erillus iam diu abiecti.
    | 
    mark Haec dicuntur inconstantissime.
    | 
    a(href="http://loripsum.net/" target="_blank") Sed potestne rerum maior esse dissensio?
    | 
    b Iam in altera philosophiae parte. 
  h2 Duo Reges: constructio interrete.
  p
    b At iam decimum annum in spelunca iacet.
    |  Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego;
    |         Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem illum anteponebas? Videsne quam sit magna
    |         dissensio? Sed ad haec, nisi molestum est, habeo quae velim. Quod quidem iam fit etiam in Academia. Istam voluptatem,
    |         inquit, Epicurus ignorat? Qui est in parvis malis.
  blockquote(cite="http://loripsum.net")
    | Quaerimus enim finem bonorum.
  dl
    dt
      dfn Nulla erit controversia.
    dd An eum discere ea mavis, quae cum plane perdidiceriti nihil sciat?
    dt
      dfn Frater et T.
    dd
      | Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere.
    dt
      dfn Sedulo, inquam, faciam.
    dd Quod autem meum munus dicis non equidem recuso, sed te adiungo socium.
    dt
      dfn Scrupulum, inquam, abeunti;
    dd Zenonis est, inquam, hoc Stoici.
  pre Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam
    | causam Zenoni desciscendi fuisse.
    | Quasi vero aut concedatur in omnibus stultis aeque magna
    | esse vitia, et eadem inbecillitate et inconstantia L.
  p
    code Sed in rebus apertissimis nimium longi sumus.
    |  An hoc usque quaque, aliter in vita? Atque haec coniunctio confusioque
    |         virtutum tamen a philosophis ratione quadam distinguitur. Ut id aliis narrare gestiant?
    b Immo alio genere;
    |  Minime vero istorum quidem, inquit.
  h3 Quare attende, quaeso.
  p
    mark Explanetur igitur.
    |  Re mihi non aeque satisfacit, et quidem locis pluribus. Potius inflammat, ut coercendi
    |         magis quam dedocendi esse videantur. Non ego tecum iam ita iocabor, ut isdem his de rebus, cum L. Ergo illi intellegunt
    |         quid Epicurus dicat, ego non intellego? 
    a(href="http://loripsum.net/" target="_blank") Quonam, inquit, modo?
    |  Est enim effectrix multarum et magnarum voluptatum. 
    code An eiusdem modi?
    |  Quae quo sunt excelsiores, eo dant clariora indicia naturae. 
    a(href="http://loripsum.net/" target="_blank") Nam ista vestra: Si gravis, brevis;
    |  Eiuro, inquit adridens, iniquum, hac quidem de re; Quo igitur, inquit, modo?
