doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="theme-color" content="#aa4b41")

    block title

    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="manifest" href="/manifest.json")


    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.10.0/styles/gruvbox-dark.min.css" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.4.1/css/simple-line-icons.min.css" media="all")

    link(rel="stylesheet" href="/style.css" media="all")
  body
    header
      p.website-name #{name}' Homepage

      nav
        ul.nav-menu
          li.nav-item
            a.nav-item-content(href="/") Home
          li.nav-item
            a.nav-item-content(href="/about.html") About Me
          li.nav-item
            a.nav-item-content(href="/blog.html") Blog

      .nav-cv.cv-wrapper
        a.cv-btn(href="/cvGabrielSimoes.pdf")
          span.icon-doc
            |
            | CV

    main
      block main

    footer
      = "Site last updated: " + lastupdate.toUTCString() + "."

    script(src="https://unpkg.com/tippy.js@2.5.3/dist/tippy.all.min.js")
