doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")

    block title

    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs@9.10.0/styles/gruvbox-dark.min.css" media="all")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.4.1/css/simple-line-icons.min.css" media="all")
    
    link(rel="stylesheet" href="/style.css" media="all")
  body
    header
      .header-top
        img.my-image(src="/me-bw.png" alt="A picture of me")
        p.my-name #{name}
        p.my-occupation #{occupation}

      nav
        ul.nav-menu
          li.nav-item
            a.nav-item-content(href="/") Home
          li.nav-item
            a.nav-item-content(href="/blog.html") Blog
          li.nav-item
            a.nav-item-content(href="/reading-watching-list.html") Reading/Watching List
          
        .cv-wrapper
          a.cv-btn(href="cv.pdf")
            span.icon-doc
              |
              | My CV
        
        .social-list-wrapper
          ul.social-list
            mixin social(title, url, icon)
              li.social-item(title=title)
                a(href= url)
                  span&attributes({class: "social-icon " + icon})
            
            +social(email, "mailto:" + email, "icon-envelope")
            +social(github, "https://github.com/" + github, "icon-social-github")
            +social(facebook, "https://facebook.com/" + facebook, "icon-social-facebook")
            +social(site, 'https://'+site, "icon-globe")
            +social('Atom Feed', '/atom.xml', "icon-feed")
            +social(place, '#', "icon-location-pin")

    main.markdown-body
      block main

    footer
      = "Site last updated: " + lastupdate.toUTCString() + "."

    script(src="/script.js")
    script(src="https://unpkg.com/tippy.js@2.5.3/dist/tippy.all.min.js")
