.about-title,
.about-content {
  width: 100%;
  margin-top: 1.5em;
}

.about-title {
  font-weight: 600;
  text-transform: uppercase;
  color: $details;

  @media screen and (min-width: $break-mid) {
    display: inline-block;
    width: 15%;
    vertical-align: top;
  }
}

.about-subtitle {
  font-weight: 600;
  color: $details;
  margin-bottom: 1em;
}

.about-content {
  @media screen and (min-width: $break-mid) {
    display: inline-block;
    width: 85%;
  }
}

.about-list-wrapper {
  column-width: 15em;
  margin-bottom: .5em;
}

ul.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li:before {
    content: "• ";
    padding-right: .3em;
    font-weight: 600;
    color: $details;
  }
}

.about-time-block {
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  a {
    color: $fg-main;
    text-decoration: none;

    &:hover {
      color: $details;
    }
  }

  .about-time-block-what {
    font-weight: bold;
  }

  .about-time-block-where {
    font-weight: bold;
    color: lighten($fg-main, 30);
  }

  .about-time-block-date {
    margin-bottom: .1em;
    font-size: 90%;
    font-weight: bold;
    color: $details;

    @media screen and (min-width: $break-mid) {
      padding-top: -1em;
      font-size: 100%;
      float: right;
    }
  }

  .about-time-block-extra {
    margin: .3em 0;
  }
}
