@import 'variables';
@import 'base';
@import 'about';

html {
  margin: 0;

  height: 100%;
  line-height: 1.2;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif, 'Fira Mono', monospace;
}

.about-title,
.about-content {
  margin-top: .75em !important;
}

.cv-header {
  padding: 1.5em 2em;
  overflow: auto;

  -webkit-print-color-adjust: exact;
  background-color: $bg-header;
  color: $fg-header;
}

.cv-image {
  display: inline-block;
  width: 15em;
}

.cv-info {
  float: left;
}

.cv-contact {
  font-size: .9em;
  float: right;
  // text-align: right;
  text-align: left;
}

p.cv-name {
  // margin-top: .5em;
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}

p.cv-occupation {
  margin: 0;
  font-size: 1.2em;
  color: darken($fg-header, 5);
}

.cv-contact-list {
  list-style: none;
  margin-right: -6em;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

  li {
    position: relative;
    margin-left: 2em;

    .icon {
      position: absolute;
      top: .05em;
      left: -1.5em;
    }
  }

  a {
    text-decoration: none;
    color: $fg-header;
  }
}

.cv-content {
  margin: .3em 2em;
}

.about-title {
  display: inline-block;
  width: 15%;
  padding-left: 0;
  vertical-align: top;
}

.about-content {
  display: inline-block;
  width: 85%;
}

.about-time-block {
  margin-bottom: .5em;
}

.about-time-block-date {
  padding-top: .1em;
  float: right;
}
