$bg-main: #ffffff;
$fg-main: #000000;
$details: #000000;

@import 'variables';
@import 'base';
@import 'about';

html {
  margin: 0;

  height: 100%;
  font-size: 11pt;
  font-family: "Fira Sans", sans-serif, 'Fira Mono', monospace;
  -webkit-print-color-adjust: exact;
}

.about-title:not(:nth-child(1)),
.about-content:not(:nth-child(2)) {
  margin-top: .25em !important;
  padding-top: .75em !important;
  border-top: 1px solid lighten($fg-main, 70);
}

.about-title:nth-child(1),
.about-content:nth-child(2) {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.cv-header {
  margin: 0;
  padding: .5in .5in .1in .5in;
  overflow: auto;

  background-color: $bg-main;
  color: $fg-main;
}

.cv-image {
  display: inline-block;
  width: 15em;
}

.cv-info {
  float: left;
}

.cv-contact {
  font-size: .9em;
  float: right;
  text-align: left;
}

p.cv-name {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}

p.cv-occupation {
  margin: 0;
  font-size: 1.2em;
}

.cv-contact-list {
  list-style: none;
  margin-right: -5.5em;
  margin-bottom: 0;
  font-size: 1em;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;

  li {
    position: relative;
    margin-left: 2em;

    .icon {
      position: absolute;
      top: .1em;
      left: -1.5em;
    }
  }

  a {
    text-decoration: none;
    color: $fg-main;
  }
}

.cv-content {
  margin: .1in .5in .5in .5in;
}

.about-title {
  display: inline-block;
  width: 15%;
  padding-left: 0;
  vertical-align: top;
}

.about-content {
  display: inline-block;
  width: 85%;
}

.about-time-block {
  margin-bottom: .5em;
}

.about-time-block-date {
  padding-top: .1em;
  float: right;
}
