.front-page-wrapper {
    text-align: center;
}

.my-image {
    max-width: 100%;
    width: 200px;
}

.my-name {
  border-bottom: 0;
  padding: 0;
  margin: .2em 0;
}

.my-occupation {
  color: lighten($fg-main, 20);
  border-bottom: 0;
  padding: 0;
  margin: .1em 0 2em 0;
}
