$bg-header: #aa4b41;
$fg-header: #ffffff;
$bg-main: #ffffff;
$fg-main: #000000;
$fg-footer: #6a737d;
$link: #3273dc;

// $break-mid: 600px;
$break-mid: 849px;
$break-large: 850px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.4;
	font-size: 1em;
  font-family: "Fira Sans", sans-serif, 'Fira Mono', monospace;
}

header {
  padding: 1em 2em;
  color: $fg-header;
  background-color: $bg-header;

  @media screen and (min-width: $break-mid) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 25%;
    padding: 1em .5em;
  }

  @media screen and (min-width: $break-large) {
    padding: 1em 2em
  }

  .header-top {
    text-align: center;
  }

  .my-image {
    max-width: 175px;

    @media screen and (min-width: $break-mid) {
      max-width: 80%;
    }
  }

  .my-name {
    font-size: 1.6em;
    font-weight: bold;
    margin: 1em 0 .2em 0;
  }

  .my-occupation {
    font-size: 1.1em;
    margin: .2em 0 1.5em 0;
  }
}

nav {
  height: 100%;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: $break-large) {
    text-align: left;
  }

  ul.nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    @media screen and (min-width: $break-mid) {
      margin-top: 3em;
    }

    li.nav-item {
      margin: 1em 0 .5em 0;
    }

    .nav-item-content {
      color: $fg-header;
      text-decoration: none;
      font-size: 1.2em;
      position: relative;
      padding-bottom: 4px;

      @media screen and (min-width: $break-mid) {
        font-size: 0.95em;
      }

      @media screen and (min-width: $break-large) {
        font-size: 1.1em;
      }

      &:before {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 1px;
        left: 1px;
        background-color: $fg-header;
        transition: all .5s ease-in-out;
      }

      &:hover:before {
        width: 100%;
      }
    }
  }
}

main, footer {
  @media screen and (min-width: $break-mid) {
    margin-left: 25%;
    width: 75%;
  }
}

main {
  padding: 1em 2em;
  box-sizing: border-box;

  background-color: $bg-main;
  color: $fg-main;
}

footer {
  text-align: center;
  padding: 1em 2em;
  font-size: 90%;
  color: $fg-footer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;

  .anchor {
    float: left;
    margin-left: -1em;
    font-size: 80%;
    opacity: 0;
    color: $fg-main;
  }

  &:hover {
    .anchor {
      text-decoration: none;
      opacity: 1;
    }
  }
}

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
  margin: 0.67em 0;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  margin-top: 0;
  font-size: 0.9em;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

main a:not(.anchor) {
  color: $link;
  text-decoration: none;
  transition: background .2s cubic-bezier(.33,.66,.66,1);

  &:active,
  &:hover {
    color: $fg-header;
    background: $link;
    outline-width: 0;
    text-decoration: underline;
  }
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;

  td,
  th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  th {
    font-weight: 600;
  }

  tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

p,
blockquote,
table,
pre {
  margin-top: 0;
  margin-bottom: 16px;
}

strong {
  font-weight: 600;
}

ul,
ol {
  padding-left: 2em;
  margin-top: 0;

  ul,
  ol {
    margin-top: 0;

    ol {
      list-style-type: lower-alpha;
    }
  }

  ol {
    list-style-type: lower-roman;
  }
}

li {
  word-wrap: break-all;

  > p {
    margin-top: 16px;
  }

  +li {
    margin-top: 0.25em;
  }
}

dd {
  margin-left: 0;
}

dl {
  padding: 0;

  dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }

  dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}

:checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.task-list-item {
  list-style-type: none;

  +.task-list-item {
    margin-top: 3px;
  }

  input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
  }
}

input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
}

code,
kbd,
pre {
  font-family: monospace, monospace;
  font-size: .95em;
  white-space: pre-wrap;
}

code {
  border-radius: 4px;

  &.hljs {
    margin: 10px 0;
  }

  &:not(.hljs) {
    padding: 0.15em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
  }
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

hr {
  margin: 24px 0;
  overflow: hidden;
  background: transparent;
  border: 1px solid #dfe2e5;
  background-color: #e1e4e8;

  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

blockquote {
  padding: 0 1em;
  margin-left: 0;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.center {
  display: block;
  margin: 0 auto;
}

img:not(.my-image) {
  max-width: 100%;
  box-sizing: content-box;

  @media screen and (min-width: $break-large) {
    max-width: 80%;
  }

  &[align=right] {
    margin-left: 20px;
  }

  &[align=left] {
    margin-right: 20px;
  }
}

ul.blog-list {
  .blog-item-wrapper {
    font-size: 1.1em;
    overflow: auto;
  }

  li.blog-item {
    margin: 0.5em 0 0.5em -2em;
    padding: 0.5em 0 .9em 0;
    list-style-type: none;
    border-bottom: 1px solid #eaecef;
  }

  img.blog-image {
    display: block;
    float: left;
    max-width: 120px;
    max-height: 100px;
    margin-right: .5em;

    @media screen and (min-width: $break-mid) {
      max-width: 200px;
      max-height: 150px;
    }
  }

  .date {
    float: right;
  }

  .tag {
    margin: 0 5px 0 0;
    padding: 0.15em 0.4em;
    font-family: monospace, monospace;
    font-size: 85%;
    border-radius: 4px;
    color: $fg-header;
    background-color: rgba($bg-header, 0.8);
  }
}

.timeline-wrapper, .tolist-wrapper {
  vertical-align: top;
  font-size: 1.05em;
  overflow: auto;

  @media screen and (min-width: $break-large) {
    display: inline-block;
    width: 50%;
  }
}

ul.timeline {
  list-style: none;
  position: relative;
  padding: 0;
  margin-left: 8em;

  &:before {
    content: " ";
    position: absolute;
    width: 2px;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    background: $bg-header;
  }

  li.timeline-item {
    margin-left: 1.5em;
    padding: 10px 20px;
  }

  .timeline-date {
    position: absolute;
    left: -8em;
    width: 120px;
    padding-top: .1em;
    text-align: right;
    color: $bg-header;
  }

  .timeline-icon {
    position: absolute;
    left: .6em;
    padding: .25em 0;
    color: $bg-header;
    background-color: $bg-main;
  }

  .timeline-title {
    font-weight: bold;
  }

  .timeline-title a,
  .timeline-quotes,
  .timeline-notes a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;

    &:active,
    &:hover {
      color: $bg-header;
      background: transparent;
    }
  }
}

ul.tolist {
  list-style: none;
  position: relative;
  padding: 0;

  .tolist-title {
    padding: 0;
  }

  li.tolist-item {
    margin: 0 0 .5em 1.5em;
  }

  .tolist-icon {
    position: absolute;
    left: .2em;
    padding: .4em 0 0 0;
    font-size: 80%;
    color: $bg-header;
    background-color: $bg-main;
  }
}

.social-list-wrapper {
  display: table;
  margin: 0 auto;
}

ul.social-list {
  list-style: none;
  overflow: hidden;
  margin-top: 2em;
  padding: 0;
  font-size: 1.2em;
  width: 100%;
  text-align: center;

  li.social-item {
    position: relative;
    float: left;
    margin: 0 .5em 0 0;
  }

  a {
    text-decoration: none;
    color: $fg-header;
  }
}

.cv-wrapper {
  margin-top: 2em;
  text-align: center;

  .cv-btn{
    display: inline-block;
    padding: 0.35em .7em;
    border: 0.1em solid $fg-header;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    color: $fg-header;
    text-align: center;
    transition: all 0.2s;

    &:hover{
      color: darken($bg-header, 20);
      background-color: #FFFFFF;
    }
  }
}

.mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.6);
  z-index: 50;

  display: none;
  visibility: hidden;
  opacity: 0;

  transition: 0.7s;
}

.modal {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  width: 600px;
  max-width: 90%;
  height: 400px;
  max-height: 90%;

  padding: 20px 10px;
  font-size: .95em;
  overflow: auto;

  background: darken($bg-main, 5);
  color: $fg-main;

  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
  }
}

.active {
  display: block;
  visibility: visible;
  opacity: 1;
}
